.nav-item{
  padding: 5px;
 
}

nav{
  background-color: aliceblue;
}

.navbar-brand{
  justify-self: flex-start;
}

.card-deck{
  padding-top: 50px;
}

h1{
  text-align: center;
}

.quote{
  padding-top: 30px;
}

.pro{
  height: 100vh;;
}

.alert{
  background-color: antiquewhite;
}

footer{
  padding-top: 40px;
  height: 40vh;
  background-color: aliceblue;
}